<% content_for :body_class, "hold-transition skin-blue sidebar-mini" %>

<% content_for :admin_navbar do %>
  <%= render 'shared/navbar_for_admin' %>
<% end %>

<div class="content-wrapper">
  <section class="content-header">
    <div class="row">
        <div class="col-md-12">
          <div class="wadah-1 box-shadow-1 padding-all-10">
            <h2 class="color-green text-align-left">
              Administrator
              <span class="color-grey pull-right" 
              style="font-size: 12pt;margin-top: 5px">
                Commercial
              </span>
            </h2>
            <div class="padding-all-10">
              <div class="wadah-1">
                <form method="post" action="" class="row">
                  <div class="form-group col-md-12">
                    <a href="" 
                    class="btn btn-default f-bg-red color-white pull-right">
                      Export
                    </a>
                    <a href="" data-toggle="modal" data-target="#add-channel"
                    class="btn btn-default f-bg-dark-blue color-white pull-right"
                    style="margin-right: 10px">
                      Add Channel
                    </a>
                    <!-- MODAL -->
                    <div class="modal fade" id="add-channel" role="dialog">
                      <div class="modal-dialog">
                        <!-- MODAL CONTENT -->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" 
                            class="close" 
                            data-dismiss="modal">
                              &times;
                            </button>
                          </div>
                          <form method="post" action="">
                          <%= form_for(@channel) do |f| %>
                            <div class="modal-body">
                              <div class="box-body">
                                <div class="form-group inline">
                                  <%= f.label :channel_id, "Channel ID" %>
                                  <%= f.text_field :channel_id, class: 'form-control' %>
                                </div>
                                <div class="form-group inline">
                                  <%= f.label :name, "Name" %>
                                  <%= f.text_field :name, class: 'form-control' %>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default f-bg-red color-white" 
                              data-dismiss="modal">
                                Cancel
                              </button>
                              <%= f.submit :submit, class: 'btn btn-default f-bg-green color-white' %>
                            </div>
                          </form>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                  <div class="box">
                    <div class="box-header">
                      <h3 class="box-title">Data Table</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      <div class="table-responsive">
                        <table id="data" class="table table-bordered table-striped">
                          <thead>
                            <tr>
                              <th>
                                Channel ID
                              </th>
                              <th>
                                Name
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <% @channels.each do |channel| %>
                              <tr>
                                <td>
                                  <%= channel.channel_id %>
                                </td>
                                <td>
                                  <%= channel.name %>
                                </td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <!-- /.box-body -->
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
</div>
<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 1.0
  </div>
  <strong>
    Copyright &copy; 2017
    <a href="https://adminlte.io">Cipta Global Integral</a>.
  </strong> All rights reserved.
</footer>
<div style="clear: both"></div>
<% content_for :javascript_in_file do %>
  <script type="text/javascript">
    $(document).ready(function (){   

    });
  </script>
<% end %>