<div class="modal fade video-download-modal" id="popup" role="dialog">
  <div class="modal-dialog">
    <!-- MODAL CONTENT -->
    <div class="modal-content" style="width: 800px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <a href="" 
        class="btn btn-default btn-dasar f-bg-light-blue color-white">
          Download Selected Video
        </a>
        <a href="" style="margin-left: 10px;" 
        class="btn btn-default btn-dasar f-bg-yellow color-white">
          Export Table
        </a>
        <div class="dropdown" style="width: 300px;float: right;margin-right: 130px">
          <button type="button" 
          class="btn btn-default btn-dasar f-bg-grey padding-all-10 dropdown-toggle"
          data-toggle="dropdown">
            <i class="fa fa-plus"></i>
          </button>
          <ul class="dropdown-menu f-bg-red">
            <form id="">
              <li style="border-top: 1px solid #fff;">
                <a href="javascript:void(0);" style="color:white;">
                  <input type="checkbox" name="" class="js-table-checkbox" data-column="0" value="">
                  Date
                </a>
              </li>
              <li style="border-top: 1px solid #fff;">
                <a href="javascript:void(0);" style="color:white;">
                  <input type="checkbox" name="" class="js-table-checkbox" data-column="1" value="">
                  Program
                </a>
              </li>
              <li style="border-top: 1px solid #fff;">
                <a href="javascript:void(0);" style="color:white;">
                  <input type="checkbox" name="" class="js-table-checkbox" data-column="2" value="">
                  Channel
                </a>
              </li>
              <li style="border-top: 1px solid #fff;">
                <a href="javascript:void(0);" style="color:white;">
                  <input type="checkbox" name="" class="js-table-checkbox" data-column="3" value="">
                  Level 1
                </a>
              </li>
              <li style="border-top: 1px solid #fff;">
                <a href="javascript:void(0);" style="color:white;">
                  <input type="checkbox" name="" class="js-table-checkbox" data-column="4" value="">
                  Level 2
                </a>
              </li>
              <li style="border-top: 1px solid #fff;">
                <a href="javascript:void(0);" style="color:white;">
                  <input type="checkbox" name="" class="js-table-checkbox" data-column="5" value="">
                  Start Time
                </a>
              </li>
              <li style="border-top: 1px solid #fff;">
                <a href="javascript:void(0);" style="color:white;">
                  <input type="checkbox" name="" class="js-table-checkbox" data-column="6" value="">
                  End Time
                </a>
              </li>
              <li style="border-top: 1px solid #fff;">
                <a href="javascript:void(0);" style="color:white;">
                  <input type="checkbox" name="" class="js-table-checkbox" data-column="7" value="">
                  Duration
                </a>
              </li>
              <li style="border-top: 1px solid #fff;">
                <a href="javascript:void(0);" style="color:white;">
                  <input type="checkbox" name="" class="js-table-checkbox" data-column="8" value="">
                  Cost
                </a>
              </li>
              <li style="border-top: 1px solid #fff;">
                <a href="javascript:void(0);" style="color:white;">
                  <input type="checkbox" name="" class="js-table-checkbox" data-column="9" value="">
                  ST Video
                </a>
              </li>
              <li style="border-top: 1px solid #fff;">
                <a href="javascript:void(0);" style="color:white;">
                  <input type="checkbox" name="" class="js-table-checkbox" data-column="10" value="">
                  ET Video
                </a>
              </li>
            </form>
            </ul>
        </div>
      </div>
      <div class="modal-body">
        <div class="box-body">
          <table id="js-television-program-data-table" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th class="th-date-table data-table"> Date </th>
                <th class="th-program-table data-table"> Program </th>
                <th class="th-channel-table data-table"> Channel </th>
                <th class="th-level_1-table data-table"> Level 1 </th>
                <th class="th-level_2-table data-table"> Level 2 </th>
                <th class="th-start_time-table data-table"> Start Time </th>
                <th class="th-end_time-table data-table"> End Time </th>
                <th class="th-duration-table data-table"> Duration </th>
                <th class="th-cost-table data-table"> Cost </th>
                <th class="th-st_video-table data-table"> ST Video </th>
                <th class="th-et_video-table data-table"> ET Video </th>
                <th> Action </th>
              </tr>
            </thead>
            <tbody>
              <% @television_programs.each do |television_program| %>
                <%= link_to television_program_path(television_program.id) do %>
                  <tr>
                    <td class="td-date-table data-table"> <%= television_program.created_at %> </td>
                    <td class="td-program-table data-table"> <%= television_program.program %> </td>
                    <td class="td-channel-table data-table"> <%= television_program.channel.name %> </td>
                    <td class="td-level_1-table data-table"> <%= television_program.level_1 %> </td>
                    <td class="td-level_2-table data-table"> <%= television_program.level_2 %> </td>
                    <td class="td-start_time-table data-table"> <%= to_hours(television_program.start_time) %> </td>
                    <td class="td-end_time-table data-table"> <%= to_hours(television_program.end_time) %> </td>
                    <td class="td-duration-table data-table"> <%= to_hours(television_program.duration) %> </td>
                    <td class="td-cost-table data-table"> <%= television_program.cost %> </td>
                    <td class="td-st_video-table data-table"> <%= to_hours(television_program.st_video) %> </td>
                    <td class="td-et_video-table data-table"> <%= to_hours(television_program.et_video) %> </td>
                    <td> <%= link_to 'Download', television_program_path(television_program.id), id: 'preview-video-link', remote: :true %> </td>
                  </tr>
                <% end%>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript_in_file do %>
  <script type="text/javascript">

    var adsPerfDataTable = $('#js-television-program-data-table').DataTable({
      responsive: true,
    });

    $('input.js-table-checkbox').on( 'change', function (e) {
      e.preventDefault();
      var selectedColumn = adsPerfDataTable.columns( $(this).attr('data-column') );
      if($('input.js-table-checkbox:checked').length == 0){
        adsPerfDataTable.columns([0,1,2,3,4,5,6,7,8,9,10]).visible(true);
      } else {
        adsPerfDataTable.columns([0,1,2,3,4,5,6,7,8,9,10]).visible( false, false );
        adsPerfDataTable.columns.adjust().draw( false );
        $('input.js-table-checkbox:checked').each(function(){
          adsPerfDataTable.columns( $(this).attr('data-column') ).visible(true);
        });
      }
    });

  </script>
<% end %>
