 <% content_for :admin_navbar do %>
      <%= render 'shared/navbar_for_admin' %>
 <% end %>

<% content_for :body_class, "hold-transition skin-blue sidebar-mini" %>

 <div class="content-wrapper">
  <section class="content-header">
    <div class="row">
      <div class="col-md-12 padding-all-10">
        <h2 class="color-light-blue text-align-left">Dashboard</h2>
        <p>Television Program Data</p>
        <div class="table-responsive">
          <table id="js-television-program-data-table">
            <thead>
              <tr>
                <th>
                  program
                </th>
                <th>
                  channel
                </th>
                <th>
                  level 1
                </th>
                <th>
                  level 2
                </th>
                <th>
                  start time
                </th>
                <th>
                  end time
                </th>
                <th>
                  duration
                </th>
                <th>
                  cost
                </th>
                <th>
                  st video
                </th>
                <th>
                  et video
                </th>
                <th>
                  date
                </th>
                <th>
                  action
                </th>
              </tr>
            </thead>
            <tbody>
              <% @television_programs.each do |television_program| %>
                <tr>
                  <td>
                    <%= television_program.program %>
                  </td>
                  <td>
                    <%= television_program.channel.name %>
                  </td>
                  <td>
                    <%= television_program.level_1 %>
                  </td>
                  <td>
                    <%= television_program.level_2 %>
                  </td>
                  <td>
                    <%= to_hours(television_program.start_time) %>
                  </td>
                  <td>
                    <%= to_hours(television_program.end_time) %>
                  </td>
                  <td>
                    <%= to_hours(television_program.duration) %>
                  </td>
                  <td>
                    <%= television_program.cost %>
                  </td>
                  <td>
                    <%= to_hours(television_program.st_video) %>
                  </td>
                  <td>
                    <%= to_hours(television_program.et_video) %>
                  </td>
                  <td>
                    <%= television_program.created_at %>
                  </td>
                  <td>
                    <%= link_to "show", television_program_path(television_program.id), id: 'preview-video-link', remote: :true %>
                    <%= link_to "update", edit_television_program_path(television_program.id) %>
                    <%= link_to "delete", television_program_path(television_program.id), method: :delete, data: {confirm: "Are you sure ?"} %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <br>
        <p>Channel Data</p>
        <div class="table-responsive">
          <table id="js-channel-data-table">
            <thead>
              <tr>
                <th>
                  Channel Id
                </th>
                <th>
                  Name
                </th>
                <th>
                  action
                </th>
              </tr>
            </thead>
            <% @channels.each do |channel| %>
              <tbody>
                <tr>
                  <td>
                    <%= channel.channel_id %>
                  </td>
                  <td>
                    <%= channel.name %>
                  </td>
                  <td>
                    <%= link_to "update", edit_channel_path(channel.id) %>
                    <%= link_to "delete", channel_path(channel.id), method: :delete, data: {confirm: "Are you sure ?"} %>
                  </td>
                </tr>
              </tbody>
              <% end %>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 1.0
  </div>
  <strong>
    Copyright &copy; 2017
    <a href="https://adminlte.io">Cipta Global Integral</a>.
  </strong> All rights reserved.
</footer>
<div style="clear: both"></div>
