<!DOCTYPE html>
<html>
<head>
  <title>VislogProject</title>
  <%= stylesheet_link_tag    'application', "#{controller_name}/#{action_name}",  media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if javascript_exists?("#{controller_name}/#{action_name}") %>
    <%= javascript_include_tag "#{controller_name}/#{action_name}", 'data-turbolinks-track' => true %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= yield (:body_class) %>">
<% if alert %>
  <div class="alert alert-danger alert-dismissible fixed-alert" role="alert">
    <div class="text">
      <strong>Warning!</strong><br><%= alert %>
    </div>
  </div>
<% end %>

<%# if notice %>
  <!-- <p class="notice"><%#= notice %></p> -->
<%# end %>

<div class="wrapper">
  <% if user_signed_in? %>
    <% if content_for?(:admin_navbar) %>
      <%= yield(:admin_navbar) %>
    <% else %>
      <%= yield(:navbar) %>
    <% end %>
  <% end %>

  <%= yield %>
</div>
<div style="clear: both"></div>
<%= yield :javascript_in_file %>

</body>
</html>
